<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Afterglow</string>
	<string>AkoCop</string>
	<string>AkoFuee</string>
	<string>AkoPanic</string>
	<string>AkoUdagawa</string>
	<string>ArisaAngery</string>
	<string>ArisaHuh</string>
	<string>ArisaIchigaya</string>
	<string>ArisaJii</string>
	<string>AyaDed</string>
	<string>AyaJii</string>
	<string>AyaMaruyama</string>
	<string>AyaWow</string>
	<string>ChisatoJii</string>
	<string>ChisatoShirasagi</string>
	<string>ChisatoWTF</string>
	<string>ChisatoWorry</string>
	<string>ChiyuTamade</string>
	<string>Chu2Peek</string>
	<string>Chu2Ping</string>
	<string>Chu2Pog</string>
	<string>Cool</string>
	<string>Eve</string>
	<string>EveBushido</string>
	<string>EveWakamiya</string>
	<string>HagumiAngry</string>
	<string>HagumiCry</string>
	<string>HagumiKitazawa</string>
	<string>HagumiXD</string>
	<string>Happy</string>
	<string>HaroHapi</string>
	<string>HimariLewd</string>
	<string>HimariLul</string>
	<string>HimariPout</string>
	<string>HimariUehara</string>
	<string>HinaAAA</string>
	<string>HinaHikawa</string>
	<string>HinaSmug</string>
	<string>HinaYay</string>
	<string>KanonFuee</string>
	<string>KanonHurt</string>
	<string>KanonLove</string>
	<string>KanonMatsubara</string>
	<string>KaoruBrag</string>
	<string>KaoruFiget</string>
	<string>KaoruSeta</string>
	<string>KaoruShrug</string>
	<string>KasumiCry</string>
	<string>KasumiToyama</string>
	<string>KasumiYay</string>
	<string>KokoroPeek</string>
	<string>KokoroSlain</string>
	<string>KokoroTsurumaki</string>
	<string>KokoroYay</string>
	<string>LayerBliss</string>
	<string>LayerShock</string>
	<string>LayerSit</string>
	<string>LisaImai</string>
	<string>LisaMelt</string>
	<string>LisaSmug</string>
	<string>LisaSparkle</string>
	<string>LockBliss</string>
	<string>LockScared</string>
	<string>LockSleeper</string>
	<string>MashiroGlasses</string>
	<string>MashiroJii</string>
	<string>MashiroKurata</string>
	<string>MashiroSweat</string>
	<string>MaskingGlare</string>
	<string>MaskingJii</string>
	<string>MaskingPensive</string>
	<string>MasukiSato</string>
	<string>MayaBomb</string>
	<string>MayaShook</string>
	<string>MayaThink</string>
	<string>MayaYamato</string>
	<string>MichelleDab</string>
	<string>MisakiOkusawa</string>
	<string>MisakiSleeper</string>
	<string>MisakiWoah</string>
	<string>MocaAoba</string>
	<string>MocaSmirk</string>
	<string>MocaThink</string>
	<string>Mocappa</string>
	<string>Morfonica</string>
	<string>NanamiHiromachi</string>
	<string>NanamiJii</string>
	<string>NanamiVibin</string>
	<string>NanamiWink</string>
	<string>NotLikeEve</string>
	<string>NotLikeKasumi</string>
	<string>NotLikeTsugu</string>
	<string>PareoJii</string>
	<string>PareoThink</string>
	<string>PareoXD</string>
	<string>PasuPare</string>
	<string>PoPiPa</string>
	<string>Power</string>
	<string>Pure</string>
	<string>RAS</string>
	<string>RanBlush</string>
	<string>RanMitake</string>
	<string>RanPat</string>
	<string>Ranguish</string>
	<string>ReiWakana</string>
	<string>ReonaNyubara</string>
	<string>RimiBoo</string>
	<string>RimiDrool</string>
	<string>RimiShook</string>
	<string>RimiUshigome</string>
	<string>RinkoDed</string>
	<string>RinkoShirokane</string>
	<string>RinkoSparkle</string>
	<string>RinkoWhat</string>
	<string>RokkaAsahi</string>
	<string>Roselia</string>
	<string>RuiFuee</string>
	<string>RuiPerfect</string>
	<string>RuiThink</string>
	<string>RuiYashio</string>
	<string>SaayaMelt</string>
	<string>SaayaWhat</string>
	<string>SaayaXD</string>
	<string>SayaYamabuki</string>
	<string>SayoAngery</string>
	<string>SayoBruh</string>
	<string>SayoHikawa</string>
	<string>SayoPensive</string>
	<string>Tae</string>
	<string>TaeHanazono</string>
	<string>TaeHuh</string>
	<string>TaeSpook</string>
	<string>TomoeDrool</string>
	<string>TomoeEmbarassed</string>
	<string>TomoeSmug</string>
	<string>TomoeUdagawa</string>
	<string>ToukoCheer</string>
	<string>ToukoJii</string>
	<string>ToukoKirigaya</string>
	<string>ToukoNya</string>
	<string>Tsugu</string>
	<string>TsugumiHazawa</string>
	<string>Tsugurific</string>
	<string>TsukushiFidget</string>
	<string>TsukushiFutaba</string>
	<string>TsukushiShock</string>
	<string>TsukushiShook</string>
	<string>YukinaMinato</string>
	<string>YukinaShrug</string>
	<string>YukinaYay</string>
	<string>Yukinya</string>
</array>
</plist>
